body{
    box-sizing: border-box;
    margin: 0;
    padding: 100px;
    font-family: sans-serif;
    background-image: linear-gradient(to left,#3f172e 60%, #ddd);
}

.input{
    position: relative;
    padding: 16px;
    width: 260px;
    height: 38px;
    border: 0.5px solid; 
}
button{
    border: none;
    padding: 16px;
    position: relative;
    background-color: #3f172e;
    width: 298px;
    height: 58px;
}
.wrapper{
    position:relative;
    transform: skewY(-15deg);
    -webkit-transform: skewY(-15deg);
    -moz-transform: skewY(-15deg);
    -ms-transform: skewY(-15deg);
    -o-transform: skewY(-15deg);
}
.wrapper li, button{
    list-style: none;
    position: relative;
    color: white;
    z-index: var(--i);
    font-size: 26px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
button::before ,.wrapper li::before{
    content:"";
    position: absolute;
    background-color: #3f172e;
    top:0;
    left: -40px;
    width: 40px;
    height: 58px;
    transform-origin: right;
    transition: 0.3s;
    transform: skewY(45deg);
    -webkit-transform: translate;
    -moz-transform: translate;
    -ms-transform: translate;
    -o-transform: translate;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
button::after,.wrapper li::after{
    content:"";
    position: absolute;
    background: #3f172e;
    top: -40px;
    left: 0;
    width: 295px;
    height: 40px;
    transform-origin: bottom;
    transition: 0.3s;
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    -o-transform: skewX(45deg);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.wrapper li::after, .wrapper li::before{
    background-color:#3f172e;
}

li .input{
    outline: none;
    border: none;
    background:linear-gradient(to left #3f172e,#888);
    color: #3f172e;
}
li .input::placeholder{
    color: #3f172e;
}
li .input:focus{
    outline: none;
    border: 3.5px solid ;
}
.wrapper li:hover, button:hover{
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
}
button:hover, button:hover::before, button:hover::after{
    background:white;
    color: #3f172e;
}
button:active {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
}